<section data-ng-controller="LoginCtrl">
    <!-- LOGO -->
    <div class="logo">
        <img src="public/auth/assets/img/rapid.png" alt=""/>
    </div>
    <div class="content">
        <!-- LOGIN FORM -->
        <div id="login_form_body">
            <h1 style="color:#888888">Login</h1>
            <div class="LoginCtrl">
                <div class="alert alert-danger animated fadeIn" ng-show="loginerror">{{loginerror}}</div>
                <form ng-submit="login()" class="login-form">
                    <div class="control-group">
                        <label class="control-label visible-ie8 visible-ie9">Email</label>
                        <div class="controls">
                            <div class="input-icon left">
                                <i class="fa fa-user"></i>
                                <input required id="email" type="email" name="email" placeholder="Email" class="m-wrap placeholder-no-fix" ng-model="user.email"/>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label visible-ie8 visible-ie9">Password</label>
                        <div class="controls">
                            <div class="input-icon left">
                                <i class="fa fa-lock"></i>
                                 <input required id="password" type="password" name="password" placeholder="Password" class="m-wrap placeholder-no-fix" ng-model="user.password"/>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <input class="btn red pull-right" type="submit" name="action" value="Login" id="login_button" />
                    <br/></div>
                </form>
            </div>
        </div>
        <div class="copyright">
            &copy; {{ global.version }}
        </div>
    </div>
</section>