
/***
Import fonts
***/
@font-face
{
font-family: 'Open Sans';
src: url('OpenSans-Regular.ttf');
}

@font-face
{
    font-family: "ITCAvantGardeStd-Bk";
    src: url('fonts/itcavantgardestd-bk-webfont.eot');
    src: url('fonts/itcavantgardestd-bk-webfont.woff') format('woff'),
       url('fonts/itcavantgardestd-bk-webfont.ttf') format('truetype'),
       url('fonts/itcavantgardestd-bk-webfont.svg') format('svg');
}
@font-face
{
    font-family: "ITCAvantGardeStd-Bold";
    src: url('fonts/itcavantgardestd-bold-webfont.eot');
    src: url('fonts/itcavantgardestd-bold-webfont.woff') format('woff'),
       url('fonts/itcavantgardestd-bold-webfont.ttf') format('truetype'),
       url('fonts/itcavantgardestd-bold-webfont.svg') format('svg');
}

/***
Reset and overrides
***/
/* general body settings */
body {
  background: #FFF;
  color: #390052;
  /*font-family: 'Open Sans';*/
  padding: 0px !important;
  margin: 0px !important;
  font-size:12px;
  direction: ltr;
}
table {
  font-size: 11px !important;
}
th {
  max-width:60px;
  font-size: 12px !important;
  /*word-break:break-all; */
}

.container-fluid {
}

h3 small{
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  text-shadow: none !important;
 color: #390052;}

/***
ie8 & ie9 modes
***/
.visible-ie8 {
  display: none;
}

.visible-ie9 {
  display: none;
}

/***
Fix link outlines after click
***/
a,a:focus, a:hover, a:active {
  outline: 0;
}

/***
Misc tools
***/
.visible-ie8 {
  display: none
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
}

/********************
 GENERAL LAYOUT
*********************/

/***
Header and header elements.
***/

.header {
  padding: 0 !important;
  margin: 0 !important;
}

.header.navbar-fixed-top {
  /*z-index: 999 !important;*/

}

.header .logo {
  margin: 0;
  position: absolute;
font-weight: bold;
float:left;

}

.header .btn-navbar {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-top:10px;
  padding-bottom: 6px;
  background-image: none;
  filter:none;
  box-shadow: none;
  color: #fff;
  border: 0;
}

.header .btn-navbar:hover {
  text-decoration: none;
}

.header .navbar-inner {
  width: 100%;
  margin-left: 0 0 0 110px;
  border: 0px;
  padding: 0px;
  box-shadow: none;
  height: 42px;
}

.header .nav {
  display: block;
}

.header .nav > li {
  margin: 0px;
  padding: 0px;
}

/* firefox hack for top bar badges */
@-moz-document url-prefix() {
  .header .nav li.dropdown .dropdown-toggle .badge {
    padding: 1px 6px 3px 6px;
  }
}

.header .nav .dropdown-menu {
  margin-top: 3px;
}

/***
Page container
***/
.page-container {
  margin: 0px;
  padding: 0px;
  background: #390052;
}

.page-header-fixed .page-container {
  margin-top: 42px;
}

/***
Page sidebar
***/
.page-sidebar{
  background: #390052;
}
ul.page-sidebar-menu {
  background: #390052;
  list-style: none;
  margin: 48px 0 0 0;
  padding: 0;
  padding: 0;
}

ul.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0;
  border: 0px;
}

ul.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}

ul.page-sidebar-menu > li:last-child > a {
   border-bottom-color: transparent !important;
}

ul.page-sidebar-menu > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.page-sidebar {
  z-index: 999;
  position: fixed;
}

ul.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 5px;
  text-shadow:none;
}


ul.page-sidebar-menu > li.active > a {
  border: none;
  text-shadow:none;
}

.page-sidebar ul > li > a:hover {
   cursor: pointer;
}
ul.page-sidebar-menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 8px 0px 8px 0px;
}
ul.page-sidebar-menu > li.active > ul.sub-menu {
  display: block;
}
ul.page-sidebar-menu > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 44px !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}
/* 3rd level sub menu */

.page-sidebar .sidebar-toggler {
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-top: 10px;
  margin-left: 175px;
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
}

.sidebar-toggler:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

/***
Page content
***/
.page-content {
  margin-top: 0px;
  padding: 0px;
    background:#FFFFFF;
  background-image:url('../assets/img/');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:400px 80%;
}

.breadcrumb {
  background: none;
 -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  box-shadow: none;
  padding-right: 0px;
  padding-left: 8px;
  /*height: 10px;*/
/* padding-bottom: 18px;
  margin-bottom: 25px;*/

  position: relative;
 /* border:0px !important;
  background-color: #eee;*/
}

.breadcrumb h3 {
 margin-top:-8px;
 /*padding-top: 0px;*/
}

.box{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border:#e4e6eb solid 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    padding: 12px;
}

.box .box-content {
    padding: 10px;
    background: #fff;
}

/* input with right aligned and colored icons */
.input-icon input {
  padding-right: 25px !important;
}



/* HOME LOCATIONS */
.location {
  height: 100px;
  width: 43%;
  float: left;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 1px #e4e6eb;
  -moz-box-shadow: 0 1px 0 1px #e4e6eb;
  box-shadow: 0 1px 0 1px #e4e6eb;
  overflow: hidden;
  padding: 12px;
  margin-right: 2%;
  margin-bottom: 2%;
}



/***
Dashboard date range panel
***/

.page-content .breadcrumb .dashboard-date-range span {
  font-weight: normal;
}
.footer {
  padding: 8px 20px 5px 20px;
  font-size: 12px;
  background: #390052;
}

.footer:after,
.footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.footer:after {
  clear: both;
}

.footer .footer-inner {
  float: left;
  display: inline-block;
}

.footer .footer-tools {
  float: right;
  display: inline-block;
}

.footer .footer-tools .go-top {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-top: -2px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  padding: 0px 6px 0px 6px;
}

.footer .footer-tools .go-top i {
  font-size: 22px;
  margin-bottom: 5px;
}


/* FILE UPLOADS*/

/* for IE*/

button {
  padding: 1px 5px;
  font-size: smaller;
  margin: 0 0px; 
}


/* input with right aligned and colored icons */
.input-icon input {
  padding-right: 25px !important;
}

/* input with left aligned icons */
.input-icon.left i {
  color: #ccc;
  display: block !important;
  position: absolute !important;
  z-index: 1;
  margin: 9px 2px 4px 10px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.input-icon.left input {
  padding-left: 33px !important;
}

.portlet.blue > .portlet-title .caption, .portlet-title.blue .caption,
.portlet.green > .portlet-title .caption, .portlet-title.green .caption,
.portlet.yellow > .portlet-title .caption, .portlet-title.yellow .caption,
.portlet.red > .portlet-title .caption, .portlet-title.red .caption,
.portlet.purple > .portlet-title .caption, .portlet-title.purple .caption,
.portlet.grey > .portlet-title .caption, .portlet-title.dark-grey .caption, {
  color: #fff;
}




/* for firefox only */
@-moz-document url-prefix() {
  .icon-btn .badge {
      padding: 2px 7px 4px 7px;
  }
}

.control-label {
  margin-top: 2px;
}

.header .hor-menu .search-form form input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
/**.header .hor-menu .search-form form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 *\/
    color: #999;
}
**//**.header .hor-menu .search-form form input::-moz-placeholder { /* Mozilla Firefox 19+ *\/
    color: #999;
}
**/.header .hor-menu .search-form form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}


label.formLabel{
  width: 225px;
}
.tformTable label{
  display: inline-block;
  cursor:default;
}
.multi-field-wrapper .multi-fields .multi-field {
  padding: 10px;
  border: #000 solid 1px;
  border-radius: 7px;
  margin:3px 0px;
}

.tformTable table td{
  padding: 1px 10px;
}
.redFont{
  color:#f00;
}
#tformForm input[type="checkbox"] {
  margin: -2px 0px 0px 0px;
}
#tformForm .formText {
  margin: 0px 0px 0px 5px;
  cursor: pointer;
}