
a:focus {
  outline: none !important;
}

a:hover, a:active {
  outline: 0 !important;
}

select:focus {
   outline: none !important;
}

.btn {
  background-color: #e5e5e5;
  background-image: none;
  filter: none;
  border: 0;
  padding: 7px 14px; 
  text-shadow: none;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;    
  color: #333333;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.btn:hover, 
.btn:focus, 
.btn:active/**,
.btn.active**//**,
.btn[disabled]**//**,
.btn.disabled**/ {  
  color: #333333;
  background-color: #d8d8d8 ;
}

.btn.nafc {
  color: white;  
  text-shadow: none;  
  background-color: #294757;
}
.btn.nafc:hover, 
.btn.nafc:focus, 
.btn.nafc:active/**, 
.btn.nafc.active**//**,
.btn.nafc[disabled]**//**, 
.btn.nafc.disabled**/ {    
  background-color: #3a6176 !important;
  color: #fff !important;
  cursor: pointer;
}


button.btn.mini {
  height: 21px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.m-icon-swapright {
  background-position: -27px -10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0px;
  margin:0px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);  
  font-size: 14px;
  font-family: "Segoe UI",Helvetica, Arial, sans-serif;
  border: 1px solid #ddd;
}

.dropdown:hover .caret{
  opacity: 1;
  filter: alpha(opacity=100);
}

.dropdown-menu li > a {
  padding: 6px 0 6px 13px;
  color: #333;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  white-space: nowrap;
}

.dropdown-menu li > a:hover {
  text-decoration: none;
  background-image: none;
  background-color: #eee;
  color: #333;
  filter:none;
}


/
input.m-wrap{
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

}

input.m-wrap {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="text"].m-wrap,
input[type="password"].m-wrap,
input[type="email"].m-wrap {
  -webkit-appearance: none !important;   
  color: #EEEEEE;     
  outline: 0;
  height: 20px;
  padding: 6px 6px !important;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
  vertical-align: top;  
  background-color: #ffffff;
  background-image: none !important;
  filter: none !important;
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
  background: transparent;   
}

input.m-wrap {
  border: 1px solid #e5e5e5;
}

input[type="text"].m-wrap:focus,
input[type="password"].m-wrap:focus,
input[type="email"].m-wrap:focus {
  border-color: #e6e6e6;
  outline: 0 !important;
  /* IE6-9 */
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;      
}

input[disabled] {
  cursor: not-allowed;
  background-color: #F4F4F4 !important;
}

@media (max-width: 480px) {

}  

.label-important/**, 
.badge-important**/ {
  background-color: #ed4e2a;
  background-image: none !important;
  text-shadow: none !important;
}