
@media (min-width: 980px) { 

	/***
	Page sidebar
	***/
	.page-sidebar {
		position: absolute;
		width: 225px;
	}










	/***
	Page content
	***/
	.page-content { 
		margin-left: 225px; 
		margin-top: 0px;
		min-height: 1000px; 
	}



	/***
	Footer
	***/

	/* fixed sidebar */





	/* boxed layout */

}

/***
For tablets and phones
***/
@media (max-width:979px) { 
	
	/***
	Body
	***/
	body {
		margin: 0px !important;
	}	

	/***
	Page header
	***/
	.header {
		margin: 0 !important;
	}


	.header .nav {
		margin-bottom: 0px !important;
	}



	/***
	Page container
	***/
	.page-container {
		margin: 0 !important;
		padding: 0 !important;
	}

	.page-header-fixed .page-container {
		margin-top: 0px !important;
	}

	/***
	Page content
	***/
	.page-content {
		margin: 0px !important;
		padding: 0px !important;  		
		min-height: 280px; 
	}

	/***
	Page sidebar
	***/
	.page-sidebar {
		margin: 0 10px;
	}


	.page-sidebar .sidebar-toggler {
		display: none;
	}

	.page-sidebar ul {
		margin-top:0px;
		width:100%;
	}



	/***
	Page title
	***/

	/***
	Styler panel
	***/
}

@media (min-width: 768px) and (max-width: 1280px) { 

	/***
	Form wizard
	***/

	/***
	Pricing tables
	***/


} 
 
@media (min-width: 768px) and (max-width: 979px) { 

	/***
	Body
	***/
	body {
		padding-top: 0px;
	}

	/***
	Page sidebar
	***/


} 
 
@media (max-width: 767px) {

	/***
	Page header
	***/
	.header .navbar-inner .container-fluid {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}


	/* Header logo */
	
	/***
	Page content
	***/
	.page-content {
		padding: 10px !important;
	}

	/***
	Page title
	***/
	
	/***
	Styler pagel
	***/

	/***
	Page breadcrumb
	***/
	.breadcrumb {
		padding-left: 10px;
		padding-right: 10px;
	}

	/***
	Portlet form action
	***/

	/***
	Gritter notification
	***/

	/***
	Form input validation states
	***/

	/***
	Advance tables
	***/

	/***
	Footer	
	***/	
	.footer {
		padding-left: 10px;
		padding-right: 10px;		
	}	
	
	.footer .go-top {  
		float: right;
		display: block;
		margin-right: 0px;
	}

	/***
	Vertical inline menu
	***/

	/***
	Form controls
	***/

}

@media (max-width: 480px) {

	/***
	Header navbar
	***/
	.header .nav {
		clear:both !important;
	}



	/***
	Page sidebar
	***/

	/***
	Styler panel
	***/

	/***
	Page title
	***/

	/***
	Dashboard date range panel
	***/


	/***
	Login page
	***/
	.login .logo {
		margin-top:10px;
	}

	.login .content {
		padding: 30px; 
		width: 222px;
	}


	.login .content .m-wrap {
		width: 180px;
	}


}

@media (max-width: 320px) {


	/***
	Hidden phone
	***/

}	