<section head></section>
<div data-ng-controller="liveConnectionsController">
	<!-- <div class="box-content"> -->
	<div class="row-fluid" style="position:fixed;z-index:700">
		<div class="span4">
			<table class="livemapTable countriesTable" >
				<thead>
					<tr>
						<th>Top Countries</th>
						<th>Percentage</th>
						<th>Count</th>
						<th>Flag</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<div class="span4 offset3">
			<table class="livemapTable protosTable">
				<thead>
					<tr>
						<th>Top Applications</th>
						<th>Percentage</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid" style="position:fixed; bottom:150px;z-index:700">
		<div class="span4">
			<table class="livemapTable localTable">
				<thead>
					<tr>
						<th>Top Local IP's</th>
						<th>Percentage</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<div class="span4 offset3">
			<table class="livemapTable remoteTable">
				<thead>
					<tr>
						<th>Top Remote IP's</th>
						<th>Percentage</th>
						<th>Count</th>
						<th>Flag</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
	<div id="map" make-map></div>
<!-- </div> -->

	<div class="row-fluid" style="position:fixed; width:86%; bottom:35px;z-index:700;">
		<!-- <div id="graph" style="height:160px; border:solid 1px;" make-line-chart></div> -->
		<div id="graph" style="height:110px;" ></div>
	</div>
</div>
<br />
</section>


