<section id="liveConns"></section>
<div data-ng-controller="liveConnectionsController">
	<!-- <div class="box-content"> -->
	<div class="row-fluid" >
		<div id="mapInfo">
			<label class="formLabel">Countries:</label>  <input type="checkbox" ng-model="mapChecked.mapCountries" ng-click="showHide(mapChecked)" ng-checked="mapChecked.mapCountries" >
			<label class="formLabel">Applications:</label>  <input type="checkbox" ng-model="mapChecked.mapApplications" ng-click="showHide(mapChecked)" ng-checked="mapChecked.mapApplications" >
			<label class="formLabel">Local IP's:</label>  <input type="checkbox" ng-model="mapChecked.mapLocalIp" ng-click="showHide(mapChecked)" ng-checked="mapChecked.mapLocalIp" >
			<label class="formLabel">Remote IP's:</label>  <input type="checkbox" ng-model="mapChecked.mapRemoteIp" ng-click="showHide(mapChecked)" ng-checked="mapChecked.mapRemoteIp" ><br />
			<table class="livemapTable countriesTable" ng-show="mapChecked.mapCountries" >
				<thead>
					<tr>
						<th>Top Countries</th>
						<th>Percentage</th>
						<th>Count</th>
						<th>Flag</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<table class="livemapTable protosTable" ng-show="mapChecked.mapApplications">
				<thead>
					<tr>
						<th>Top Applications</th>
						<th>Percentage</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<table class="livemapTable localTable" ng-show="mapChecked.mapLocalIp">
				<thead>
					<tr>
						<th>Top Local IP's</th>
						<th>Percentage</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<table class="livemapTable remoteTable" ng-show="mapChecked.mapRemoteIp">
				<thead>
					<tr>
						<th>Top Remote IP's</th>
						<th>Percentage</th>
						<th>Count</th>
						<th>Flag</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	<div id="map" make-map></div>
	</div>

	<div class="row-fluid" style="position:fixed; width:86%; bottom:35px;z-index:700;">
		<div id="graph" style="height:110px;" ></div>
	</div>
</div>
<br />
</section>


