<div data-ng-controller="floorPlanController">
    <script type="text/ng-template" id="uploadModal.html">
        <div class="modal-header">
            <h3>Upload Floorplan</h3>
        </div>
        <div class="modal-body">
            <div style="width: 70%;margin: 0 auto;">
                <div style="width: 70%;margin: 0 auto;">
                    Upload file(s): &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="file" ng-file-select="onFileSelect($files,width)" accept="image/*" multiple onclick="this.value=null">
                </div>
                <br/>
                <div style="width: 70%;margin: 0 auto;">
                    <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">
                        or drop files here
                    </div>
                </div>
                <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
                <br/>
                <div ng-show="progress.length > 0" style="width: 70%;margin: 0 auto;">
                    <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                    Progress:
                    <br/>
                    <div ng-show="selectedFiles != null">
                        <div class="sel-file" ng-repeat="f in selectedFiles">
                            {{($index + 1) + '.'}}
                            <input type="text" ng-model="custom_fn" placeholder="Example floor name"/>
                            <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
                            <button class="button" ng-click="start($index, custom_fn)" ng-show="progress[$index] < 0">Upload</button>
                            <span class="progress" ng-show="progress[$index] >= 0">
                                <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
                            </span>
                            <button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
                            {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Close</button>
        </div>
    </script>
    <script type="text/ng-template" id="deleteModal.html">
        <div class="modal-header">
            <h3>Delete Floorplan</h3>
        </div>
        <div class="modal-body">
            <form id="myform">
                <select ng-model="floorplan.select">
                  <option value="{{floor.asset_name}}" ng-repeat="floor in modalFloors">{{floor.custom_name}}</option>
                </select><br />
                <button type="button" class="button-error pure-button" ng-click="deleteFloorplan(floorplan, modalFloors)">Delete</button>
                <button type="button" class="rndCrnBtn pure-button" ng-click="ok()">Close</button>
            </form>
        </div>
    </script>  
    <script type="text/ng-template" id="editModal.html">
        <div class="modal-header">
            <h3>Edit Floorplans</h3>
        </div>
        <div class="modal-body">
            <form id="myform">
                <div ng-repeat="floor in modalFloors">
                    Floor Name:&nbsp;<input type="text" ng-model="floor.custom_name" />
                    &nbsp;&nbsp;&nbsp; Order:&nbsp;<input type="text" class="floorOrderInput" ng-model="floor.order_index" />
                </div>
                <button type="button" class="button-success pure-button" ng-click="editFloors(modalFloors)">Save</button>
                <button type="button" class="rndCrnBtn pure-button" ng-click="ok()">Close</button>
            </form>
        </div>
    </script>
    <section head></section>
    <section id="loading-error" loading-error></section>
    <section id="loading-spinner" loading-spinner></section>
    <div class="row-fluid">
        <section id="floorplanpage">
            <div id="editbuttons">
                <button type="button" class="button-error pure-button dfp" ng-click="modelDelete(floors)">Delete Floorplan</button>
                <button type="button" class="rndCrnBtn pure-button" ng-click="editFloorPlan(floors)">Edit</button>
            </div>
            <div id="listlocalusersspan">
                 <div class="jdash-header">Local Users</div>
                <div id="listlocalusers" class="bin" droppable style="position: relative">
                </div>
            </div>
            <div id="hidelocalusers" ></div>
            <div id="floorplanspan">
                <div id="tabs" >
                    <tabset>
                        <tab select="alertMe()" ng-repeat="floor in floors" active="$first">
                            <tab-heading>
                                {{floor.custom_name}} 
                            </tab-heading>
                            <div style="background-color:#FFF;" class="box">
                                <div id="floorplan" floor-name="{{floor.asset_name}}" make-floor-plan class="bin" droppable style="position: relative">
                                    <!-- <object width="910" height="600" id="svgFloorPlan" data="{{floor.path}}" type="image/svg+xml"></object> -->
                                    <!-- <object id="svgFloorPlan" width="800" data="{{floor.path}}" type="image/svg+xml" ></object> -->
                                     <!-- <img id="svgFloorPlan" width="800" src="{{floor.path}}" type="image/svg+xml" />  -->
                                </div>
                            </div>
                        </tab>
                        <tab ng-click="uploadOpen()">
                            <tab-heading> + </tab-heading>     
                            <div style="background-color:#FFF;" class="box"></div>                    
                        </tab>
                    <div id="triggerbuttons" class="bin" ></div>
                    </tabset>
                </div>
            </div>
            <div id="localuserinformationspan">
                <div class="jdash-header">User Information</div>
                <div  style="background-color:#FFF;" class="box">
                    <div id="localuserinformation" append-floor-info></div>
                </div>
            </div>
        </section>
    </div>
</div>
