<section head></section>
<div data-ng-controller="localCoiRemoteDrillController">
	<section id="loading-error" loading-error></section>
	<section id="loading-spinner" loading-spinner></section>
	<div class="row-fluid">
		<!-- <div class="span4"> -->
			<div class="span12">
				<div class="row-fluid">
					<div class="span4">
						<div style="background-color:#FFF;" class="box" id="box">
							<div class="box-content">
								<div class="lanegraphtitle"><strong>Event Info</strong></div>
								<div id="lanegraphinfo"></div>
							</div>
						</div>
					</div>
					<div class="span8">
						<div class="row-fluid">
							<div style="background-color:#FFF;" class="box" id="box">
								<div class="box-content">
									<div id="lanegraph" lane-graph></div>
								</div>
							</div>
						</div>			
					</div>
				</div>
				<br />
			</div>
		<!-- </div> -->
	</div>
	<br />
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">Network View</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="networktree" make-network-tree></div>
				</div>
			</div>
		</div>
	</div>
	<br />
</div>