<section head></section>
<div data-ng-controller="localCoiRemoteController">
	<section id="loading-error" loading-error></section>
	<section id="loading-spinner" loading-spinner></section>
	<!-- <div id="force-table"></div> -->
	<div class="row-fluid">
		<div class="span9">
			<div id="forcechart" make-coi-chart></div>
		</div>
		<div class="span3">
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="forcechartinfo"></div>
				</div>
			</div>
		</div>
	</div>
</div>