<div data-ng-controller="floorPlanController">
    <section id="loading-error" loading-error></section>
    <section id="loading-spinner" loading-spinner></section>
    <div id="floorplanpage">

        <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>

        <div class="span3">
            <div class="jdash-header">Local Users</div>
            <div id="listlocalusers"></div>
        </div>

        <div class="span9">
            <div class="jdash-header">Floor Plan</div>
            <div  style="background-color:#FFF;" class="box">
                <div class="box-content">
                   <div id="floorplan" make-floor-plan class="bin" droppable drop="handleDrop" style="background:url('public/uploads/floorPlan/2ndfloor.jpg') no-repeat; position:relative;"></div>                    
                </div>
            </div>
        </div>

        <div class="span3">
            <div class="jdash-header">User Information</div>
            <div  style="background-color:#FFF;" class="box">
                <div id="localuserinformation"></div>
            </div>
        </div>
    </div>
</div>
