._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.fuse*
*.sublime-project
*.sublime-workspace
ehthumbs.db
Thumbs.db
.nodemonignore
.sass-cache/
.bower-*/
.idea/
node_modules/
public/lib
test/coverage/
