<div class="navbar-inner" data-ng-controller="HeaderController">
	<div style="background-color: #000;" class="container-fluid">
		<a href="/">
			<img class="logo" src="../img/logo.png" alt=""/>
		</a>
		<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
			<img src="../img/menu-toggler.png" alt=""/>
		</a>

		<script type="text/ng-template" id="sessionModal.html">
			<div class="modal-header">
				<h3>Your session has expired</h3>
			</div>
			<div class="modal-body">
				<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-sign-in fa-stack-1x fa-inverse"></i></span> Your session has expired. Please click the button below to sign in again.
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">Sign In</button>
			</div>
		</script>

		<ul class="nav pull-right">
			<!-- <li class="no-text-shadow">
				<div id="reportrange" class="pull-right dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range" date-picker>
						<i style="color:#fff" class="fa fa-calendar"></i>
						<span>{{start}} - {{end}}</span>
						<i style="color:#fff" class="fa fa-angle-down"></i>
				</div>
			</li> -->
			<!-- NOTIFICATION DROPDOWN -->
			<li ng-app="mean.system" style="margin-top:6px;margin-bottom:-8px" class="dropdown" id="header_notification_bar">
				<input class="span3" name="search" ng-model="search" type="text" placeholder="Search this page..." universal-search>
			</li>
			<li class="dropdown" id="header_notification_bar">
				<a ng-click="checkpoint()" style="width:25px" href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i style="margin-left:5px" class="fa fa-warning"></i>
					<span ng-hide="iocCount == 0" class="badge">{{iocCount}}</span>
				</a>
				<ul class="dropdown-menu extended notification">
					<li>
						<span class="more"></span>
					</li>
					<div data-ng-repeat="ioc in iocalerts">
						<li><a class="flagged_drop" href=""><span class="label label-important"><i class="fa fa-bolt"></i></span>{{ioc.ioc}}<span style="float:right" class="time" data-livestamp="{{ioc.added}}"></span></a></li>
					</div>
					<li class="external">
						<a>See all notifications<i class="fa m-icon-swapright"></i></a>
					</li>
				</ul>
			</li>
			<li class="dropdown" id="header_notification_bar">
				<a style="width:25px" ng-click="go('/archive')" href="/#archive" class="dropdown-toggle" data-toggle="dropdown">
					<i style="margin-left:5px" class="fa fa-trash-o"></i>
				</a>
			</li>
			<li class="navbar-nav nav pull-right"><a href="#" id="welcome" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{global.user.username}} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<!-- <li><a href="javascript:void(0);" onclick="#"><i class="fa fa-cog"></i> My Preferences</a></li> -->
					<!-- <li><a href="javascript:void(0);" onclick="javascript:page('null','get_cron', null, null, null);"><i class="icon-envelope"></i> Manage Reports</a></li> -->
					<!-- <li><a href="javascript:void(0);" onclick="#"><i class="fa fa-user"></i> Manage Users</a></li> -->
					<!-- <li class="divider"></li> -->
					<li><a href="/signout"><i class="fa fa-power-off"></i> Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>




