<div class="row-fluid">
	<div style="margin-top:30px"  class="pull-right">
		<div id="head-right"></div>
	</div>
	<!-- PAGE TITLE & BREADCRUMB-->
	<div class="page-title">
		<h3 page-title></h3>
		<small id="sub_heading" page-subheading></small>
		<div id="severity"></div>
	</div>
	<div data-ng-controller="IndexController" data-ng-init="onHeadLoad()" class="breadcrumb">
		<div class="no-text-shadow">
			<div id="reportrange" class="pull-right dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range" date-picker>
					<i style="color:#fff" class="fa fa-calendar"></i>
					<span>{{start}} - {{end}}</span>
					<i style="color:#fff" class="fa fa-angle-down"></i>
			</div>
		</div>

		<div class="pull-left no-text-shadow">
			<i class="fa fa-home"></i>
			<span id="home"><a href="/">Home</a></span>
			<!-- <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
				<span class="divider">/</span>
				<ng-switch on="$last">
				<span ng-switch-when="true">{{breadcrumb.name}}</span>
				<span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
				</ng-switch>
			</li> -->
		</div>
	</div>
</div>
