<div class="row-fluid">
	<div style="margin-top:30px"  class="pull-right">
		<div id="head-right"></div>
	</div>
	<!-- PAGE TITLE & BREADCRUMB-->
	<div class="page-title">
		<small id="sub_heading" page-subheading></small>
	</div>
	<div data-ng-controller="IndexController" data-ng-init="onHeadLoad()" class="breadcrumb">
		<div class="row-fluid">
			<div class="span7">
				<div class="row-fluid">
					<h3 class="pull-left" page-title></h3>
				</div>
				<div class="row-fluid">
					<div id="severity"></div>
				</div>
			</div>
			<div class="span5">
				<div  ng-show="rootpage" id="reportrange" class="pull-right dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range" date-picker>
						<i style="color:#fff" class="fa fa-calendar"></i>
						<span>{{start}} - {{end}}</span>
						<i style="color:#fff" class="fa fa-angle-down"></i>
				</div>
			</div>
		</div>
	</div>
</div>
