#main {
    /*padding: 1em;*/
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 60px auto 50px auto;
    height: auto;
    display: block;
    overflow: hidden;
    z-index: 9999;
    /*border:solid 1px #0F0;*/
    /*width: 1000px;*/
}
#header{
    height:60px;
    background: #7c01b2;
    position: fixed;
    top: 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 99999;
}
#footer{
    height:40px;
    background: #7c01b2;
    position: fixed;
    width: 100%;
    display: block;
    bottom: 0px;
    /*margin: 40px 0px 0px 0px;*/
    overflow: hidden;
    z-index: 99999;
}