<div>
    <h2>Welcome to tForms</h2>
    <login-form (check_login)="userChecked($event)"></login-form>
</div>
<!-- <div class="logo">
</div>
<div class="content">
    <div id="login_form_body">
        <div class="LoginCtrl">
            <form ng-submit="login.login()" class="login-form">
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="fa fa-user"></i>
                            <input required id="email" type="email" name="email" placeholder="Email" class="m-wrap placeholder-no-fix" ng-model="login.user.email" autofocus="autofocus"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="fa fa-lock"></i>
                             <input required id="password" type="password" name="password" placeholder="Password" class="m-wrap placeholder-no-fixcommon/auth" ng-model="login.user.password"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <input class="btnLogin2015" type="submit" name="action" value="Login" id="login_button"/>
                </div>
                <div><a ng-href="/forgot-pass"> Forgot Password? </a></div>
            </form>
        </div>
    </div>
    <div class="copyright">
        <section copyright></section>
    </div>
</div>
 -->