 <div class="page-header-fixed">
    <div class="header navbar navbar-inverse navbar-fixed-top"></div>
    <div class="page-container">
        <!-- CONTENT -->
        <div class="page-content">
            <div class="container-fluid">
                <div class="box" style="background-color:#FFF;">
                	<iframe src="https://docs.google.com/forms/d/1GsVpfA6D9fbReGAjCV8H1HYRuFmPnELZUK3zWljuMtM/viewform?embedded=true" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            	</div>
            </div>
        </div>
    </div>
    <div class='footer'>
        <div class='footer-inner'>
            <!-- &copy; {{global.version}} -->
        </div>
    </div>
</div>