<section head></section>
<div data-ng-controller="dnsByQueryTypeController">
	<section id="loading-error" loading-error></section>
	<section id="loading-spinner" loading-spinner></section>
	<div class="row-fluid">
		<div class="span7">
			<div class="jdash-header">DNS Queries Detected Per Hour</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="barchart" make-bar-chart></div>
				</div>
			</div>
		</div>
		<div class="span5">
			<div class="jdash-header">Query Type Distribution</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="piechart" make-pie-chart></div>
				</div>
			</div>
		</div>
	</div>
	<div make-table></div>
</div>