<section page-head></section>
<div data-ng-controller="IocDrillController" data-ng-init="onPageLoad()">
	<section severity-levels></section>
	<div class="row-fluid">
		<div class="span4">
			<div class="jdash-header">Title</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="geochart" make-geo-chart></div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="jdash-header">Title</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="geochart" make-geo-chart></div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="jdash-header">Title</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="geochart" make-geo-chart></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">Title</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="sevchart" make-sev-chart></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="jdash-header">Table Title</div>
		<div  style="background-color:#FFF;" class="box">
			<div class="box-content">
				<div id="ioctable" make-table></div>
			</div>
		</div>
	</div>
</div>