<section page-head></section>
<div data-ng-controller="IocEventController" data-ng-init="onPageLoad()">
	<!-- <section id="loading-error" loading-error></section> -->
	<!-- <section id="loading-spinner" loading-spinner></section> -->
	<div class="row-fluid">
		<div class="span4">
			<div class="jdash-header">Local IP</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div class="span6">
						<strong>Country: </strong>Canada CA<br />
						<strong>Lan Zone: </strong>{{lan_zone}}<br />
						<strong>Lan IP: </strong>{{lan_ip}}<br />
						<strong>Machine name: </strong>{{machine_name}}<br />
						<strong>Packets recieved: </strong>{{packets_recieved}}<br />
					</div>
					<div class="span6">
						Image PPlaceholder <br/>
						<strong>Lan Port: </strong>{{lan_port}}<br />
						<strong>Bytes received: </strong>{{bytes_received}}<br />
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="jdash-header">Remote IP</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div class="span6">
						<strong>Country: </strong>{{country}} {{flag}}<br />
						<strong>Remote IP: </strong>{{remote_ip}}<br />
						<strong>Premote Port: </strong>{{remote_port}}<br />
						<strong>Packets received: </strong>{{in_packets}}<br />
						<strong>Bytes received: </strong>{{in_bytes}}<br />
					</div>
					<div class="span6">
						<strong>Time: </strong>{{time}}<br />
						<strong>Layer 7 Protocol: </strong>{{l7_proto}}<br />
						<strong>Remote ASN: </strong>{{remote_asn}}<br />
						<strong>Remote ASN Name: </strong>{{remote_asn_name}}<br />
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="jdash-header">IOC Information</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<strong>IOC: </strong>{{ioc}}<br />
					<strong>IOC Type: </strong>{{ioc_type}}<br />
					<strong>IOC Info: </strong>{{desc}}<br />
				</div>
			</div>
		</div>
	</div>

	<br />
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">SSL</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="sevchart" multi-table1></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">DNS</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="sevchart" multi-table2></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">HTTP</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="sevchart" multi-table3></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">Files</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="sevchart" multi-table4></div>
				</div>
			</div>
		</div>
	</div>

</div>