<section page-head></section>
<div data-ng-controller="IochitsController" data-ng-init="onPageLoad()">
	<div style="width:1056px !important" class="row-fluid">
		<div style="float:left !important; position:relative !important;" class="span6">
			<div class="jdash-header">IOC Classes (Quantity of IOC Notifications)</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="rowchart" make-row-chart></div>
				</div>
			</div>
		</div>
		<div style="float:left !important; position:relative !important;" class="span6">
			<div class="jdash-header">Remote IP Locations</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="geochart" make-geo-chart></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">IOC Notifications Per Hour</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="sevchart" make-sev-chart></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="jdash-header">Indicators of Compromise (IOC) Notifications</div>
		<div  style="background-color:#FFF;" class="box">
			<div class="box-content">
				<div id="ioctable" make-table></div>
			</div>
		</div>
	</div>
</div>