<section page-head></section>
<section loading-spinner></section>
<div data-ng-controller="IochitsController" data-ng-init="onPageLoad()">
	<section severity-levels></section>
	<div class="row-fluid">
		<div class="span6">
			<div class="jdash-header">Title</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="rowchart" make-row-chart></div>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="jdash-header">Title</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="geochart" make-geo-chart></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">Title</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="sevchart" make-sev-chart></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="jdash-header">Table Title</div>
		<div  style="background-color:#FFF;" class="box">
			<div class="box-content">
				<div id="ioctable" make-table></div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="span3">
		<div  style="background-color:#FFF;" class="box">
			<div class="box-content">
				<h4>Label</h4>
				<span style="font-weight:bold">Local IPs: </span><span>{{local_ips}}</span><br />
				<span style="font-weight:bold">Remote IPs: </span><span>{{remote_ip}}</span><br />
				<span style="font-weight:bold">Remote Countries: </span><span>{{remote_country}}</span><br />
				<span style="font-weight:bold">IOC Notifications: </span><span>{{ioc_notifications}}</span><br />
				<span style="font-weight:bold">IOC Groups: </span><span>{{ioc_groups}}</span><br />
				<span style="font-weight:bold">IOC File Names: </span><span>{{file_name}}</span><br />
				<span style="font-weight:bold">IOC DNS queries: </span><span>{{query}}</span><br />
				<span style="font-weight:bold">IOC HTTP Hosts: </span><span>{{hostt}}</span><br />
				<span style="font-weight:bold">IOC SSL Hosts: </span><span>{{remote_ip_ssl}}</span><br />
				<span style="font-weight:bold">IOC L7 Protocols: </span><span>{{l7_proto}}</span><br />
			</div>
		</div>
	</div>
	<div class="span3">
		<div  style="background-color:#FFF;" class="box">
			<div class="box-content">
				<h4>Label</h4>
				<span style="font-weight:bold !important;">Local IPs: </span><span>{{conn_meta}}</span><br />
				<span style="font-weight:bold !important;">Remote IPs: </span><span>{{remote_ip_conn_meta}}</span><br />
				<span style="font-weight:bold !important;">Remote Countries: </span><span>{{remote_country_conn_meta}}</span><br />
				<span style="font-weight:bold !important;">Avg B/w In: </span><span>{{bandwidth_in}}</span><br />
				<span style="font-weight:bold !important;">Avg B/w Out: </span><span>{{bandwidth_out}}</span><br />
				<span style="font-weight:bold !important;">New Remote IP: </span><span>{{new_ip}}</span><br />
				<span style="font-weight:bold !important;">New DNS Query: </span><span>{{new_dns}}</span><br />
				<span style="font-weight:bold !important;">New HTTP Hosts: </span><span>{{new_http}}</span><br />
				<span style="font-weight:bold !important;">New SSL Hosts: </span><span>{{new_ssl}}</span><br />
				<span style="font-weight:bold !important;">L7 Protocols Detected: </span><span>{{new_layer7}}</span><br />
			</div>
		</div>
	</div>
</div> -->