<section page-head></section>
<div data-ng-controller="l7Controller" data-ng-init="onPageLoad()">
	<section id="loading-error" loading-error></section>
	<section id="loading-spinner" loading-spinner></section>
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">Bandwidth Per Hour</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="barchart" make-bar-chart></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div make-table></div>
</div>