<section page-head></section>
<div data-ng-controller="NewRemoteIpController" data-ng-init="onPageLoad()">
	<section id="loading-error" loading-error></section>
	<section id="loading-spinner" loading-spinner></section>
	<div class="row-fluid">
		<div class="span4">
			<div class="jdash-header">Remote IP Countries</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="geochart" make-geo-chart></div>
				</div>
			</div>
		</div>
		<div class="span8">
			<div class="jdash-header">New Remote IP Addressses Detected Per Hour</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="barchart" make-bar-chart></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="jdash-header">New Remote IP Addresses Detected</div>
		<div  style="background-color:#FFF;" class="box">
			<div class="box-content">
				<div id="ioctable" make-table></div>
			</div>
		</div>
	</div>
</div>