#calendarPopUp{
    top : 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999999;
    overflow: hidden;
    /*background:rgba(255,255,255,0.5);*/
    background:rgba(0,0,0,0.5);
}
#appointmentInfo{
    font-size: 0.8em;
    min-width: 400px;
    min-height: 200px;
    width: 50%;
    height: 60%;
    margin: 5vh auto;
    background: #fff;
    border-radius: 8px; 
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
#popupform{
    padding: 5px 15px;
    /*box-sizing: border-box;*/
    .row {
        text-align: left;
        padding: 3px 0px;
        .col {
            display: inline-block;
            vertical-align: top;
            padding: 3px 0px;
            &.form1{
                width: 20%;
            }
            &.form2{
                width:70%;
            }
        }
    }
    label {
        display: inline-block;
        /*width: 140px;*/
        color: #444;
    }
}