{% extends 'auth.html' %}

{% block auth %}
<h1>Login</h1>
<form action="/users/session" method="post">
    <div class="control-group">
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <div class="controls">
            <div class="input-icon left">
                <i class="fa fa-user"></i>
                <input id="username" class="m-wrap placeholder-no-fix" type="text" name="username" placeholder="username"/>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="controls">
            <div class="input-icon left">
                <i class="fa fa-lock"></i>
                <input id="password" class="m-wrap placeholder-no-fix" type="password" name="password" placeholder="Password"/>
            </div>
        </div>
    </div>
    <div class="control-group">
        <input class="btn red pull-right" type="submit" name="action" value="Login" id="login_button" />
        <span class="small"><a href="/changepass">Change Password</a></span>
    </div>
</form>
{% endblock %}



