* { padding: 0; margin: 0; }

html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}
body {
    background: #fff;
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: Verdana, Geneva, sans-serif;
}
div {
    /*display: flex;*/
    /*flex-direction: column;*/
    box-sizing: border-box;
}
.row{
    display: block;
    clear: both;
    float: none;
}