<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
    {% include '../includes/head.html' %}
    {% if user == 'null' %}
    <link rel="stylesheet" href="public/system/assets/css/font-awesome/css/font-awesome.css">
    </head>
    <body class="login">
        <!-- <div class="header navbar navbar-inverse navbar-fixed-top" data-ng-include="'views/header.html'" data-role="navigation"></div> -->
        <!-- LOGO -->
        <div class="logo">
            <img src="public/system/assets/img/rapid.png" alt=""/>
        </div>
        <div class="content">
            <!-- LOGIN FORM -->
            <div id="login_form_body">
                {% block content %}{% endblock %}
            </div>
           <div class="copyright">
                {% if version %}
                    &copy; {{ version }}
                {% endif %}
            </div>
            <div class="create-account">
                <p>
                    <!-- <span class="small"><a href="/signup">Register</a> | <a href="#">Change Password</a></span> -->
                </p>
            </div>
        </div>
        {% include '../includes/foot.html' %}
    </body>
    {% else %}
    <link rel="stylesheet" href="public/system/assets/css/font-awesome/css/font-awesome.css">
    </head>
    <body class="page-header-fixed">
        <div class="header navbar navbar-inverse navbar-fixed-top" data-ng-include="'public/system/views/header.html'" data-role="navigation"></div>
        <div class="page-container">
            <!-- SIDEBAR -->
            <div class="page-sidebar nav-collapse collapse">
                <div data-ng-include="'public/system/views/sidebar.html'"></div>
            </div>
            <!-- CONTENT -->
            <div class="page-content">
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class='footer'>
            <div class='footer-inner'>
                <img src='public/system/assets/img/rapid.png' id='footimg' class='hidden-phone hidden-tablet' alt=''/>
                {% if version %}
                    &copy; {{ version }}
                {% endif %}
            </div>
            <div class="footer-tools">
                <span class="go-top">
                    <i class="fa fa-angle-up"></i>
                </span>
            </div>
        </div>
        {% include '../includes/foot.html' %}
        <script src="public/system/assets/js/desk.js" type="text/javascript"></script>
        <!--If you already have fancybox on the page this script tag should be omitted-->
        <div class="support-button" class='hidden-phone hidden-tablet'>
            <script>
                 // ********************************************************************************
                 // This needs to be placed in the document body where you want the widget to render
                 // ********************************************************************************
                 new DESK.Widget({ 
                        version: 1, 
                        site: 'phirelight.desk.com', 
                        port: '443', 
                        type: 'email',
                        displayMode: 0,  //0 for popup, 1 for lightbox
                        features: {  
                            offerAlways: true, 
                            offerAgentsOnline: false, 
                            offerRoutingAgentsAvailable: false,  
                            offerEmailIfChatUnavailable: false 
                        },  
                        fields: { 
                            ticket: { 
                                // desc: &#x27;&#x27;,
                                // labels_new: &#x27;&#x27;,
                                // priority: &#x27;&#x27;,
                                // subject: &#x27;&#x27;
                            }, 
                            interaction: { 
                                // email: &#x27;&#x27;,
                                // name: &#x27;&#x27;
                            }, 
                            chat: { 
                                //subject: '' 
                            }, 
                                customer: { 
                                // company: &#x27;&#x27;,
                                // desc: &#x27;&#x27;,
                                // first_name: &#x27;&#x27;,
                                // last_name: &#x27;&#x27;,
                                // locale_code: &#x27;&#x27;,
                                // title: &#x27;&#x27;
                            } 
                        } 
                 }).render();  
            </script>
            <img src='public/system/assets/img/chat-bubble.png' alt=''/>
        </div>
    </body>
    {% endif %}
</html>
