<section head></section>
<!-- <section id="loading-error" loading-error></section>
<section id="loading-spinner" loading-spinner></section> -->
<div data-ng-controller="firstLoginController">
    <div class="row-fluid">
        <div class="span2">
            <div class="box" style="background-color:#FFF;">
                <p>Please create a password for the user {{global.user.email}}</p> 
                <form name="firstLogin" > 
                    <div ng-init="setForm(firstLogin);">
                        <label class="formLabel">Email:</label> <input type="email" ng-model="global.user.email" disabled>
                        <label class="formLabel">Password:</label> <input required type="password" ng-model="firstLogin.password">
                            <p ng-show="firstLogin.password.length < 8" class="redMismatch">Password is too short.</p>
                            <p ng-show="firstLogin.password.length > 100" class="redMismatch">Password is too long.</p>
                        <label class="formLabel">Re-Type Password:</label> <input required type="password" ng-model="firstLogin.password2">
                            <p ng-show="firstLogin.password != firstLogin.password2" class="redMismatch">Passwords do not match!</p>
                        <br />
                        <input type="submit" ng-click="savePassword(firstLogin)" class="pure-button"> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
