'use strict'

var path = require('path');
var rootPath = path.normalize(__dirname + '/../../..');

module.exports = {
	defaultDateRange: 1,
	root: rootPath,
	SSLport: process.env.sslPORT || 3000,
	HTTPport: process.env.httpPORT || 3001,
	httpRedirect: {
		link: 'https://localhost', // no trailing slashes
		portEnabled: true
	},
	sslAssets: {
		// remeber this is also set in .gitignore if you plan on moving it
		key: './ssl/server.key',
		cert: './ssl/server.crt'
	},
	db: {
		port: 3306,
		host: '127.0.0.1',
		user: 'root',
		password: 'mainstreet',
		database: 'nafc2',
		connectionLimit: 10000
	},
	localUploads: {
		enabled: false,
		// remeber this is also set in .gitignore if you plan on moving it
		directory: './public/uploads/' // with trailing slash
	},
	templateEngine: 'swig',
	// The secret should be set to a non-guessable string that
	// is used to compute a session hash
	sessionSecret: 'har4aC6Mix3Vot7',
	sessionCollection: 'sessions',
};
