<ul class="page-sidebar-menu" data-ng-controller="sidebarController" sidebar>
	<li> <!-- SIDEBAR TOGGLER BUTTON -->
		<div class="sidebar-toggler hidden-phone"></div>
		<br />
	</li>
	<li data-ng-repeat="sidebar in sidebaritems" id="heading" ng-show="display(sidebar.accessLevel)" ng-class="parentClass(sidebar)" >
		<a  ng-click="select(sidebar.url)" href="">
			<i class="fa {{sidebar.icon}}"></i>
			<span class="title">{{sidebar.title === "Stealth" ? "" : sidebar.title}}</span>
			<span ng-show="{{sidebar.title === 'Stealth'}}" class="title"><img ng-show="{{sidebar.title === 'Stealth'}}" src="/public/system/assets/img/stealth-logo2.png"></span>
			<span ng-class="parentClassSelected('{{sidebar.url}}')" id="heading_sub"></span>
		</a>
		<ul ng-show="sidebar.children.length > 0" class="sub-menu">
			<li data-ng-repeat="child in sidebar.children" ng-show="display(child.accessLevel)" ng-class="childClass(child)">
				<a ng-click="select(child.url)">
					<i class="fa {{child.icon}}"></i>
					{{child.title}}
				</a>
			</li>
		</ul>
	</li>
</ul>