<!-- <table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th class="{{heading.mData}}" ng-repeat="heading in tableColumns" custom-sort order="heading.mData" sort="sort">{{heading.sTitle}}&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="6">
            <div class="pagination pull-right">
                <ul>
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                
                    <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                        ng-class="{active: n == currentPage}"
                    ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>
                 
                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
            </div>
        </td>
    </tfoot>

    <tbody>
        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
            <td>{{item.ioc}}</td>
        </tr>
    </tbody>
</table> -->
<div id="sTable"> 
    <a ng-click="toggleShow()" class="tableRight" >Hide / show columns</a>
    <div id="showHide" ng-show="show_hide">
        <span class="tableLabel"  ng-repeat="col in tableColumns">
            <span>{{col.sTitle}}</span><input type="checkbox" ng-click="showHide(col)" ng-model="col.bVisible"> <br />
        </span>
    </div>
    <table id="sevTable">
        <tr><th ng-repeat="col in tableColumns" class="tableTitles" ng-class=" { 'firstTitle': $first }"><a ng-click="tableData.sortBy(col.mData)" ng-show="col.bVisible">{{col.sTitle}}</a></th></tr>
        <tr ng-repeat="row in tableData.collection() | limitTo: pageNumber | limitTo: pageOffset" >
            <td ng-repeat="col in tableColumns">  
                <section ng-switch="col.mData">
                    <section ng-switch-when="mime" ng-show="col.bVisible"> 
                       <div file-replace>{{ row[col.mData].toLowerCase() }}</div>
                    </section>
                    <section ng-switch-when="l7_proto" ng-show="col.bVisible"> 
                       <div app-replace>{{ row[col.mData].toLowerCase() }}</div>
                    </section>
                    <section ng-switch-when="remote_cc" ng-show="col.bVisible"> 
                        <div style='min-width:120px'>
                            <div class="f32"><span class="flag {{row[col.mData].toLowerCase()}}"></span></div>
                        </div>
                    </section>
                    <section ng-switch-when="ioc_severity" ng-show="col.bVisible">
                        <span class="aTable{{ row[col.mData] }} fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i></span>
                    </section>
                    <section ng-switch-when="lan_stealth" ng-show="col.bVisible">
                        <section ng-if="row[col.mData] > 0">
                            <span style="color:#000" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i style="color:#fff" class="fa fa-shield fa-stack-1x fa-inverse"></i></span>
                        </section>
                        <section ng-if="row[col.mData] <= 0"></section>
                    </section>
                    <section ng-switch-when="proxy_blocked" ng-show="col.bVisible">
                        <section ng-if="row[col.mData] > 0">
                            <span style="color:#E71010 " class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i style="color:#fff" class="fa fa-times fa-stack-1x fa-inverse"></i></span>
                        </section>
                        <section ng-if="row[col.mData] <= 0">
                            <span style="color:#000" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i style="color:#fff" class="fa fa-check fa-stack-1x fa-inverse"></i></span>
                        </section>
                    </section>
                    <section ng-switch-when="time" ng-show="col.bVisible">
                        <div ng-if="!col.link"  style='min-width:100px' class="first">
                            <div class="timestamp timestampText">{{ row[col.mData] }}</div>
                            <span class="livestamp timestampText" data-livestamp='{{ row[col.mData] }}'></span><br />
                        </div>
                        <div ng-if="col.link" style='min-width:100px' class="first">
                            <button class='tableTime bPage button-secondary pure-button' type='button' ng-click='generateLink(row, col)'>
                                <div class="timestamp" >{{row[col.mData]}}</div>
                            </button><br />
                            <span class="livestamp timestampText" data-livestamp='{{ row[col.mData] }}'></span><br />
                        </div>
                    </section>
                    <section ng-switch-when="null" ng-show="col.bVisible">
                        <section ng-if="col.link.type == 'Archive'" class="last">
                            <button class='bArchive button-error pure-button' type='button' ng-click='generateButton(col.link.type, row)'>Archive</button>
                        </section>
                        <section ng-if="col.link.type == 'Restore'" class="last">
                            <button class='bRestore button-success pure-button' type='button' ng-click='generateButton(col.link.type, row)' >Restore</button>
                        </section>
                        <section ng-if="col.link.type == 'Upload Image'" class="last">
                            <button class='bUpload button-success pure-button' type='button' ng-click='generateButton(col.link.type, row)'>Upload Image</button>
                        </section>
                    </section>
                    <section ng-switch-default ng-show="col.bVisible"> 
                        <section ng-if="col.link">
                            <a ng-click="generateLink(row, col)">{{row[col.mData]}}</a>
                        </section>
                        <section ng-if="!col.link">
                            {{row[col.mData]}}                            
                        </section>      
                    </section>
                </section>
            </td>
        </tr>
        <tr>
            <td class="etc tableIndex" colspan="4">
            Showing {{pageNumber+pageOffset+1}} to {{pageNumber}} of {{maxLength}} entries <br />
            <a ng-click="decreasePage(pageOffset)" ng-class="{disabled: prevButton}">Previous</a>
            <span ng-repeat="n in [0,(maxIndex)] | makeRange">
                <span ng-if="n == 0" ><a ng-click="setPage(n)" ng-class="{current: n==currentIndex-1}"> 1</a></span>
                <span ng-show="currentIndex < 5 && currentIndex > 0 && n < maxIndex" ng-if="n < 5 && n > 0" >
                    <a ng-click="setPage(n)" ng-class="{current: n==currentIndex-1}"> {{n+1}}</a>
                    <span ng-show="n == 4 && maxIndex > 6"> ... </span>
                </span>
                <span ng-show="currentIndex >= 5 && currentIndex <= maxIndex-4" >
                    <span ng-show="n == currentIndex-2"> ... </span>
                    <span ng-show="n == currentIndex -2 || n == currentIndex-1 || n == currentIndex">
                        <a ng-click="setPage(n)" ng-class="{current: n==currentIndex-1}"> {{n+1}}</a>
                    </span>
                    <span ng-show="n == currentIndex"> ... </span>
                </span>
                <span ng-show="currentIndex <= maxIndex && currentIndex > maxIndex-4 " ng-if="n < maxIndex-1 && n > maxIndex-6 && currentIndex > 4" >
                    <span ng-show="n == maxIndex-5"> ... </span>
                    <a ng-click="setPage(n)" ng-class="{current: n==currentIndex-1}"> {{n+1}}</a>
                </span>
                <span ng-if="n == maxIndex-1 && maxIndex > 5" class="tableIndex"><a ng-click="setPage(n)" ng-class="{current: n==currentIndex-1}"> {{n+1}}</a></span>
            </span>
            <a ng-if="pageNumber<maxLength" ng-click="increasePage(pageConstant)" ng-class="{disabled: nextButton}" >  Next</a>
            <a ng-if="pageNumber>=maxLength" ng-class="{disabled: nextButton}" >  Next</a>
            </td>
        </tr>
    </table>
    <div ng-model="tableColumns" ng-change="updateIndex()"></div>
</div>