<!-- <table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th class="{{heading.mData}}" ng-repeat="heading in tableColumns" custom-sort order="heading.mData" sort="sort">{{heading.sTitle}}&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <td colspan="6">
            <div class="pagination pull-right">
                <ul>
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                
                    <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                        ng-class="{active: n == currentPage}"
                    ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>
                 
                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
            </div>
        </td>
    </tfoot>

    <tbody>
        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
            <td>{{item.ioc}}</td>
        </tr>
    </tbody>
</table> -->

<table>
    <tr>
        <th ng-repeat="col in tableColumns"><a ng-click="tableData.sortBy(col.mData)">{{col.sTitle}}</a></th>
    </tr>
    <tr ng-show="!loading && tableData.collection().length == 0">
        <td colspan="3">
            Oops! Everything disappeared &ndash;
            <a ng-click="word = ''; tableData.unfilterAll()">clear all filters</a>.
        </td>
    </tr>
    <tr ng-repeat="row in tableData.collection() | limitTo: pageNumber | limitTo: -50">
        <td ng-repeat="col in tableColumns">{{row[col.mData]}}</td>
    </tr>
    <tr>
        <td class="etc" colspan="4">

            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default"
                        ng-click="pageNumber = pageNumber - 10">
                    &lt; Previous Page
                </button>
                <button type="button" class="btn btn-xs btn-default"
                        ng-click="pageNumber = pageNumber + 10">
                    Next Page &gt;
                </button>
            </div>

        </td>
    </tr>
</table>