<section head></section>
<div data-ng-controller="iocLocalDrillController">
	<section id="loading-error" loading-error></section>
	<section id="loading-spinner" loading-spinner></section>
	<section severity-levels></section>
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">IOC Notifications Per Hour</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="barchart" make-bar-chart></div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div make-table></div>
</div>