<section head></section>
<div data-ng-controller="localCoiRemoteDrillController">
	<section id="loading-error" loading-error></section>
	<section id="loading-spinner" loading-spinner></section>
	<script type="text/ng-template" id="tableModal.html">
	  <div class="modal-header">
		<h3>{{data.class.toUpperCase()}}</h3>
	  </div>
		<div class="modal-body">
			<div id="mTable"></div>
		</div>
	  <div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Close</button>
	  </div>
	</script>
	<div class="row-fluid">
		<!-- <div class="span4"> -->
			<div class="span12">
				<div class="row-fluid">
					<div class="span4">
						<div style="background-color:#FFF;" class="box" id="box">
							<div class="box-content">
								<div id="lanegraphinfo"></div>
							</div>
						</div>
					</div>
					<div class="span8">
						<div class="row-fluid">
							<div style="background-color:#FFF;" class="box" id="box">
								<div class="box-content">
									<div id="lanegraph" lane-graph></div>
								</div>
							</div>
						</div>			
					</div>
				</div>
				<br />
			</div>
		<!-- </div> -->
	</div>
	<br />
	<div class="row-fluid">
		<div class="span12">
			<div class="jdash-header">Network View</div>
			<div  style="background-color:#FFF;" class="box">
				<div class="box-content">
					<div id="networktree" make-network-tree></div>
				</div>
			</div>
		</div>
	</div>
	<br />
</div>