div {
    box-sizing: border-box;
}
#month {
    /*
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none; */
    float: left;
    width: 14%;
    height: 300px;
    text-align: top;
    vertical-align: top;
    position: fixed;
    margin:10px 0px 0px 0px;

    .months{
        clear: both;
        display: block;
        float: none;
    }
    .current_month{
        background: #fff;
    }
    .current_day{
        color: #fff;
        background: #7c01b2;
    }
    .day {
        float: left;
        border: solid 1px #Ff0;
        width: 13%;
        text-align: middle;
        vertical-align: top;
        height: 20px;
        cursor: pointer;
    }
    .not_month{
        color: #ccc;
    }
    .prev {
        float: left;
        cursor: pointer;
    }
    .next {
        float: right;
        cursor: pointer;
    }
}
#week {
    float: right;   
    width: 85%;
    position: relative;
    text-align: top;
    vertical-align: top;

    #time_top {
        padding: 10px 0px 0px 0px;
        display: -webkit-flex;
        display: flex;
        position: fixed;
        height: 60px;
        width: 85%;
        overflow: hidden;
        background: #fff;
        z-index: 999;
    }
    .day {
        float: left;
        border-right: solid 1px #000;
        width: 13%;
        text-align: top;
        vertical-align: top;
        /*height: 800px;*/
        /*overflow-y: auto;*/
    }
    .current_day{
        background: #ddd;
    }
    .date {
        border-top: solid 2px #000;
        border-bottom: solid 2px #000;
        width: 100%;
        text-align: top;
        vertical-align: top;
        height: 50px;
        cursor: pointer;
    }
    .hour{
        height: 100px;
        /*border-right: solid 1px #000;*/
        width: 100%;
        text-align: top;
        vertical-align: top;
        position: relative;
    }
    #time {
        position: relative;
        height: calc(100vh - 170px);
        float: left;
        /*height: auto;*/
        width: 100%;
        text-align: top;
        vertical-align: top;
        margin: 60px 0px 0px 0px;
        overflow-y: auto;
        /*border-bottom: solid 1px #000; */
        /*height: 750px;*/
    }
    #time::-webkit-scrollbar { 
        display: none; 
    }
    .time_slot-left {
        float: left;
        width: 4%;
        text-align: right;
        vertical-align: top;
        border-left: solid 1px #000;
        border-right: solid 1px #000;
        font-size:0.7em;
    }
    .time_slot-right {
        float: left;
        width: 4%;
        text-align: left;
        vertical-align: top;
        border-right: solid 1px #000;
        font-size:0.7em;
    }
    .time_slot .slot{
        box-sizing: border-box;
        padding:0px 2px;
    }
    .hour .slot{
        box-sizing: border-box;
        height: 25%;
        width: 100%;
        /*text-align: top;
        vertical-align: top;*/
        /*position: relative;*/
    }
    .slot.slot-00 {
        border-bottom: solid 1px #eee;
    }
    .slot.slot-15 {
        border-bottom: solid 1px #aaa;
    }
    .slot.slot-30 {
        border-bottom: solid 1px #eee;
    }
    .slot.slot-45 {
        border-bottom: solid 1px #000;
    }

    .appointment{
        box-sizing: border-box;
        position: absolute;
        width: 98%;
        background: #cfa0e4;
        /*display: block;*/
        z-index: 99;
        overflow: hidden;
        border-radius: 4px;
        margin: 1% 1%;
        /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.4);*/
    }
    @mixin app- ($count) {
        @for $i from 1 through $count {
            /*$slot_height: (97%*$i)+($i*2);*/
            $slot_height:(25%*$i)-5%;

            .app-#{$i} {
                height:$slot_height
            }
        }
    }
    @include app-(50);

    /*[class*='app-'] {
      color: red;
    }*/
    /*.appointment.app-1{
        height: 86%;
    }
    .appointment.app-2{
        height: 192%;
    }
    .appointment.app-3{
        height: 290%;
    }
    .appointment.app-4{
        height: 392%;
    }
    .appointment.app-5{
        height: 498%;
    }
    .appointment.app-6{
        height: 598%;
    }
    .appointment.app-7{
        height: calc(700% + 1px);
    }*/

}

