<div>
    <calendar-pop-up *ngIf="show_popup" [new_app]="new_appointment" (close_popup)="closePopup($event);"></calendar-pop-up>
    <div class="row">
        <div id="month">
            <div>
                <span class="prev" (click)="getMonthArray(-1, true)"> << </span>
                <span class="labels">{{months_names[current_month]}}</span>
                <span class="next" (click)="getMonthArray(1, true)"> >> </span>
            </div>
            <div>
                <span class="prev" (click)="getYearArray(-1, true)"> << </span>
                <span class="labels">{{current_year}}</span>
                <span class="next" (click)="getYearArray(1, true)"> >> </span>
            </div>
            <div class="day" *ngFor="let names of day_names">{{names.charAt(0)}}</div>
            <div (click)="setDate(days)" class="day not_month" *ngFor="let days of rest_of_last_month" (click)="setDate(days)">{{days.getDate()}}</div>
            <div (click)="setDate(days)" [ngClass]="{'day': true,'current_month': true, 'current_day': checkIfCurrentDay(days)}" *ngFor="let days of current_full_month" >
                <span>{{days.getDate()}}</span>
            </div>
            <div (click)="setDate(days)" class="day not_month" *ngFor="let days of start_of_next_month" (click)="setDate(days)">{{days.getDate()}}</div>
            <button (click)="getToday()">Today </button>
        </div>
        <div id="week">
            <div id="time_top">
                <div class="time_slot-left">
                    <div class="date" (click)="getWeekArray(-7)"> << </div>
                </div>
                <div [ngClass]="{'day': true, 'current_day': checkIfCurrentDay(day)}" *ngFor="let day of days">
                    <div class="date" (click)="setDate(day)">
                        <div>{{day_names[day.getDay()]}}</div>
                        <div>{{this.months_names_short[day.getMonth()]}} {{day.getDate()}}, {{day.getFullYear()}}</div>
                    </div>
                </div>      
                <div class="time_slot-right">
                    <div class="date" (click)="getWeekArray(7)"> >> </div>
                </div>           
            </div>
            <div id="time">
                <div class="time_slot-left">
                    <div class="hour" *ngFor="let time of time_slots">
                        <div class="slot slot-00">{{time}}</div>
                        <div class="slot slot-15"></div>
                        <div class="slot slot-30">:30</div>
                        <div class="slot slot-45"></div>
                    </div>
                </div>
                <div id="daySlots">
                    <div [ngClass]="{'day': true, 'current_day': checkIfCurrentDay(day)}" *ngFor="let day of days">
                        <div>
                            <div id="{{day.getDate()}}_{{day.getMonth()}}_{{day.getFullYear()}}-{{time}}" class="hour" *ngFor="let time of time_slots">
                                <div class="slot slot-{{slot}}" *ngFor="let slot of slots">
                                    <div *ngIf="appointments[day.getDate()+'_'+day.getMonth()+'_'+day.getFullYear()]">
                                        <div class="appointment app-{{appointments[day.getDate()+'_'+day.getMonth()+'_'+day.getFullYear()][time+'_'+slot].duration}}" *ngIf="appointments[day.getDate()+'_'+day.getMonth()+'_'+day.getFullYear()][time+'_'+slot]">
                                        {{appointments[day.getDate()+'_'+day.getMonth()+'_'+day.getFullYear()][time+'_'+slot].duration}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>     
                </div> 
                <div class="time_slot-right">
                    <div class="hour" *ngFor="let time of time_slots">
                        <div class="slot slot-00">{{time}}</div>
                        <div class="slot slot-15"></div>
                        <div class="slot slot-30">:30</div>
                        <div class="slot slot-45"></div>
                    </div>
                </div>           
            </div>
        </div>
    </div>
</div>