<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	{% include '../includes/head.html' %}
	<body class="login">
		<div class="header navbar navbar-inverse navbar-fixed-top" data-ng-include="'views/header.html'" data-role="navigation"></div>
		<!-- LOGO -->
		<div class="logo">
			<img src="img/rapid.png" alt=""/>
		</div>
		<div class="content">
			<!-- LOGIN FORM -->
			<div id="login_form_body">
				{% block content %}{% endblock %}
			</div>
			<div class="copyright">
			</div>
			<div class="create-account">
				<p>
					<!-- <span class="small"><a href="/signup">Register</a> | <a href="#">Change Password</a></span> -->
				</p>
			</div>
		</div>
	</body>
</html>