<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" itemscope="itemscope">
	{% include '../includes/head.html' %}
	<body class="page-header-fixed">
		<div class="header navbar navbar-inverse navbar-fixed-top" data-ng-include="'views/header.html'" data-role="navigation"></div>
		<div class="page-container">
			<!-- SIDEBAR -->
			<div class="page-sidebar nav-collapse collapse">
				<div data-ng-include="'views/sidebar.html'"></div>
			</div>
			<!-- CONTENT -->
			<div class="page-content">
				<div class="container-fluid">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<div class='footer'>
			<div class='footer-inner'>
				<img src='img/rapid.png' id='footimg' class='hidden-phone hidden-tablet' alt=''/>
			</div>

			<div class="footer-tools">
				<span class="go-top">
					<i class="fa fa-angle-up"></i>
				</span>
			</div>
		</div>
		{% include '../includes/foot.html' %}
	</body>
</html>